apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app1-ingress
  namespace: app1-namespace
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
  - host: www.mariam.com
    http:
      paths:
      - path: /app1
        pathType: ImplementationSpecific
        backend:
          service:
            name: app1-svc
            port:
              number: 80
